<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('./partials/head')%>
       <title>404</title>
</head>
<body>
    <%- include('./partials/nav')%>
    
    <h1 class="d-flex justify-content-center align-self-center mt-5" >404 Page not Found.......</h1>
    
    <%- include('./partials/scripts')%>
</body>
</html>